<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Findings View Registration -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.checkmarx.eclipse.devassist.category"
            name="Checkmarx">
      </category>
      <view
            id="com.checkmarx.eclipse.devassist.ui.findings.CxFindingsView"
            name="Checkmarx One Assist Findings"
            icon="icons/checkmarx-plugin-13_dark.png"
            category="com.checkmarx.eclipse.devassist.category"
            class="com.checkmarx.eclipse.devassist.ui.findings.CxFindingsView"
            restorable="true">
      </view>
   </extension>

   <!-- Annotation Types Extension Point (for in-editor vulnerability markers/highlights) -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="com.checkmarx.eclipse.findings.malicious"
            super="org.eclipse.ui.workbench.texteditor.error"
            markerType="org.eclipse.core.resources.problemmarker">
      </type>
      <type
            name="com.checkmarx.eclipse.findings.critical"
            super="org.eclipse.ui.workbench.texteditor.error"
            markerType="org.eclipse.core.resources.problemmarker">
      </type>
      <type
            name="com.checkmarx.eclipse.findings.high"
            super="org.eclipse.ui.workbench.texteditor.error"
            markerType="org.eclipse.core.resources.problemmarker">
      </type>
      <type
            name="com.checkmarx.eclipse.findings.medium"
            super="org.eclipse.ui.workbench.texteditor.warning"
            markerType="org.eclipse.core.resources.problemmarker">
      </type>
      <type
            name="com.checkmarx.eclipse.findings.low"
            super="org.eclipse.ui.workbench.texteditor.info"
            markerType="org.eclipse.core.resources.problemmarker">
      </type>
      <type
            name="com.checkmarx.eclipse.findings.unknown"
            super="org.eclipse.ui.workbench.texteditor.bookmark"
            markerType="org.eclipse.core.resources.problemmarker">
      </type>
      <type
            name="com.checkmarx.eclipse.findings.ok"
            super="org.eclipse.ui.workbench.texteditor.bookmark"
            markerType="org.eclipse.core.resources.problemmarker">
      </type>
      <type
            name="com.checkmarx.eclipse.findings.ignored"
            super="org.eclipse.ui.workbench.texteditor.info"
            markerType="org.eclipse.core.resources.problemmarker">
      </type>
   </extension>

    <!-- Gutter icon + squiggly underline specifications for Findings annotations -->
    <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
        <specification
            annotationType="com.checkmarx.eclipse.findings.malicious"
            label="Checkmarx Malicious Finding"
            icon="icons/malicious_16.svg"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            presentationLayer="8">
        </specification>
        <specification
            annotationType="com.checkmarx.eclipse.findings.critical"
            label="Checkmarx Critical Finding"
            icon="icons/critical_16.svg"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            presentationLayer="7">
        </specification>
        <specification
            annotationType="com.checkmarx.eclipse.findings.high"
            label="Checkmarx High Finding"
            icon="icons/high_16.svg"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            presentationLayer="6">
        </specification>
        <specification
            annotationType="com.checkmarx.eclipse.findings.medium"
            label="Checkmarx Medium Finding"
            icon="icons/medium_16.svg"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            presentationLayer="5">
        </specification>
        <specification
            annotationType="com.checkmarx.eclipse.findings.low"
            label="Checkmarx Low Finding"
            icon="icons/low_16.svg"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            presentationLayer="4">
        </specification>
		<specification
		    annotationType="com.checkmarx.eclipse.findings.ok"
		    label="Checkmarx OK Finding"
		    icon="icons/ok_16.svg"
		    verticalRulerPreferenceValue="true"
		    overviewRulerPreferenceValue="false"
		    presentationLayer="2">
		</specification>
		<specification
		    annotationType="com.checkmarx.eclipse.findings.unknown"
		    label="Checkmarx Unknown Finding"
		    icon="icons/unknown_16.svg"
		    verticalRulerPreferenceValue="true"
		    overviewRulerPreferenceValue="false"
		    presentationLayer="3">
		</specification>
        <specification
            annotationType="com.checkmarx.eclipse.findings.ignored"
            label="Checkmarx Ignored Finding"
            icon="icons/ignored_16.svg"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            presentationLayer="1">
        </specification>
   </extension>

</plugin>