<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Findings View Registration -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.checkmarx.eclipse.devassist.category"
            name="Checkmarx">
      </category>
      <view
            id="com.checkmarx.eclipse.devassist.ui.findings.CxFindingsView"
            name="Checkmarx Findings"
            icon="platform:/plugin/com.checkmarx.eclipse.plugin/icons/CxFlatLogo16x16.png"
            category="com.checkmarx.eclipse.devassist.category"
            class="com.checkmarx.eclipse.devassist.ui.findings.CxFindingsView"
            restorable="true">
      </view>
   </extension>

   <!-- Annotation Types Extension Point (for in-editor vulnerability markers/highlights) -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="com.checkmarx.eclipse.devassist.findingAnnotation"
            label="Checkmarx Finding"
            markerType="org.eclipse.core.resources.problemmarker">
      </type>
   </extension>

   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.checkmarx.eclipse.devassist.findingAnnotation"
            label="Checkmarx Finding"
            icon="platform:/plugin/com.checkmarx.eclipse.plugin/icons/CxFlatLogo16x16.png"
            textPreferenceKey="cxFindingIndication"
            textPreferenceValue="true"
            overviewRulerPreferenceKey="cxFindingOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="cxFindingVerticalRuler"
            verticalRulerPreferenceValue="true"
            colorPreferenceKey="cxFindingColor"
            colorPreferenceValue="255,128,0"
            presentationLayer="4">
      </specification>
   </extension>

</plugin>