<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
            point="org.eclipse.ui.preferencePages">
        <page
                class="com.checkmarx.eclipse.properties.PreferencesPage"
                id="com.checkmarx.eclipse.properties.preferencespage"
                name="Checkmarx One">
        </page>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             category="com.checkmarx.eclipse"
             class="com.checkmarx.eclipse.views.CheckmarxView"
             icon="icons/CxFlatLogo12x12.png"
             id="com.checkmarx.eclipse.views.CheckmarxView"
             inject="true"
             name="Checkmarx One Scan"
             restorable="true">
       </view>
       <category
             id="com.checkmarx.eclipse"
             name="Checkmarx">
       </category>
    </extension>
    <extension
            point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
                targetID="org.eclipse.jdt.ui.JavaPerspective">
            <view
                    id="com.checkmarx.eclipse.views.CheckmarxView"
                    relative="org.eclipse.ui.views.ProblemView"
                    relationship="right"
                    ratio="0.5">
            </view>
        </perspectiveExtension>
    </extension>

</plugin>
