name: Release Creation

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
          
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Update the POM version.
        run: mvn -B org.eclipse.tycho:tycho-versions-plugin:set-version -DnewVersion='${{ env.RELEASE_VERSION }}' --file pom.xml 

      - name: Create release
        run: mvn -B clean install --file pom.xml  -DskipTests -pl "!checkmarx-ast-eclipse-plugin-tests"

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./com.checkmarx.eclipse.site/target/com.checkmarx.eclipse.site-*.zip
          
      - name: Git configuration 
        run: |
          git config --global safe.directory /tmp/**/*/
          git config --global http.postBuffer 524288000
      
      - name: Create update site
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          source-directory: './com.checkmarx.eclipse.site/target/repository/'
          destination-github-username: 'cylon-bot'
          destination-repository-username: 'CheckmarxDev'
          destination-repository-name: 'ast-eclipse-plugin-update-site'
          user-email: cylon-bot@checkmarx.com
          target-branch: main
